{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
  ],
  "rules": {
    "arrow-body-style": 0,
    "react/jsx-filename-extension": 0,
    "no-undef": 0,
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": [
      2, { "devDependencies": true }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "spread": true,
    "experimentalObjectRestSpread": true
  }
}
